<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sasitha View</span>
    <a mat-button routerLink='/' ><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink='/aboutus' routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
    <a mat-button routerLink='/profile' routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Profile</a>
  <span class="flex-spacer"></span>
 <a mat-button routerLink='/loging' routerLinkActive="active">Loging</a>
 <a mat-button routerLink='/register' routerLinkActive="active">Register</a>
 </mat-toolbar-row>
  </mat-toolbar>
  
 
